{% extends "ios/index.html" %}

{% load i18n %}

{% block title %}{% trans "Land management" %} - {% endblock %}

{% block breadcrumbs %}
<li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
    <a href="/">{% trans "Home" %}</a>
</li>
<li class="active" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
    <a href="{% url 'page' 'services' %}">{% trans "Services" %}</a>
</li>
{% endblock %}

{% block content %}
<div class="col-lg-5">
    <div id="map"></div>
</div>
<div class="col-lg-7">
    <h2><a href="{% url 'cad_carto' %}{{ request.user.seed.profil }}">{% trans "Land mapping" %}</a></h2>
    <h3>{% trans "Layers" %}</h3>
    <ul>
        <li id="lieudits">{% trans "Lieudits" %}</li>
        <li id="parcels">{% trans "Plots" %}</li>
        <li id="ownership">{% trans "Prospective" %}</li>
    </ul>
    <h3>{% trans "Informations" %}</h3>
    <div id="infos"></div>
</div>
{% endblock %}

{% block assets %}
<link href="{{ STATIC_URL }}leaflet-fullscreen/Control.FullScreen.css" rel="stylesheet">
<script src="{{ STATIC_URL }}leaflet/dist/leaflet.js"></script>
<script src="{{ STATIC_URL }}leaflet-fullscreen/Control.FullScreen.js"></script>
<script src="{{ STATIC_URL }}leaflet-plugins/layer/tile/Bing.js"></script>

<script src="{{ STATIC_URL }}leaflet-hash/leaflet-hash.js"></script>

<script src="{{ STATIC_URL }}js/ios/l.edigeo.js"></script>
<script src="{{ STATIC_URL }}js/ios/l.cad.js"></script>
<script>
var map = IOS.l.cad.map.initMap({
    'bing_api_key': '{{ BING_API_KEY }}'
});
</script>
{% endblock %}
