{% extends "ios/index.html" %}

{% block title %}Gestion foncière - {% endblock %}

{% block breadcrumbs %}
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
        <a href="/">Accueil</a>
        <span class="divider">›</span>
    </li>
    <li class="active" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
        <a href="{% url 'page' 'services' %}">Services</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row-fluid" ng-app="ios" class="ng-scope">
        <div class="span5">
            <div id="map"></div>
        </div>
        <div class="span7">
            <h2><a href="{% url 'cad_carto' %}{{ request.user.seed.profil }}">Land mapping</a></h2>
            <ul>
                <li id="lieudits">Lieudits</li>
                <li id="parcels">Parcelles cadastrales</li>
                <li id="ownership">Prospective</li>
            </ul>
            {% load scribbler_tags %}
            {% scribble 'home' %}
            <p>Placeholder</p>
            {% endscribble %}
        </div>
    </div>
{% endblock %}

{% block assets %}
    <script src="{{ STATIC_URL }}leaflet/dist/leaflet.js"></script>
    <script src="{{ STATIC_URL }}leaflet-plugins/layer/tile/Bing.js"></script>
    <script src="{{ STATIC_URL }}leaflet-zoomfs/leaflet.zoomfs.js"></script>
    <script src="{{ STATIC_URL }}leaflet-hash/leaflet-hash.js"></script>
    <script src="{{ STATIC_URL }}leaflet-dvf/dist/leaflet-dvf.min.js"></script>
    <script src="{{ STATIC_URL }}js/ios/l.edigeo.js"></script>
    <script src="{{ STATIC_URL }}js/ios/l.cad.js"></script>
    <script>
        var map = IOS.l.cad.map.initMap({
            'cloudmade_api_key': '{{ CLOUDMADE_API_KEY }}',
            'bing_api_key': '{{ BING_API_KEY }}'
        });
    </script>
{% endblock %}
