<div class="row-fluid">
    <div class="span7">
        <h2>Parcels</h2>
        <ul class="unstyled">
            <li ng-repeat="article in articles.features | filter:query | orderBy:orderProp" class="articles">
                <a class="article" onclick="javascript:map.fitBounds(L.geoJson({{article}}, {style: {'color': '#ff7800', 'weight': 5, 'opacity': 0.65}}).addTo(map).getBounds());">{{article.properties.code_edigeo}}</a>
            </li>
        </ul>
    </div>
    <div class="span5">
        <label>Search:</label>
        <input ng-model="query">
        <label>Sort by:</label>
        <select ng-model="orderProp">
            <option value="properties.code_edigeo">Code EDIGEO</option>
        </select>
    </div>
</div>
